body{text-align: center;
    background-color:rgb(95, 150, 193);
    
    padding: auto;
    }
    
    
    .container{background-color: rgb(7, 8, 22);
    
    display: inline-block;
    
    margin-top: 10%;
    
    
    
    width: 600px;
    
    font-size: 20px;
    
    height: 450px;}
    
    
    h1{font-style: italic;
    /* color: rgb(139, 116, 86); */
    
    color:rgb(68, 206, 195);
    background-color: rgb(218, 220, 218);
    
    }
    
    
    
    .content{color:rgb(95, 150, 193);}
    
    
    
    .result{color:rgb(219, 200, 35);
    font-style: italic;}
    
    
    
    .Convert{background-color:rgb(26, 132, 213); opacity: 0.8;}
    
    button{background-color: rgb(228, 67, 226);   opacity: 0.9;}
    
    
    
    
    .letting{color:red}
    
    
    
    .hitting{color:rgb(13, 205, 183)}